.cartao-aluno {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    width: 250px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    font-family: sans-serif;
}

.verde {
    background-color: #00ff73;
    
}
.verde p{
    color: #242424;
}

.amarelo {
    background-color: #deee00;
}
.amarelo h1, .amarelo p {
    color: #242424;
}

.vermelho {
    background-color: #ff3c00;
}